@import "./player/player";
@import "./videoButtons";
@import "./comments/addComment";
@import "./comments/commentList";

.Video {
    @media screen and (min-width: 320px) {
        .PlayerUIContainer {
            padding-top: 1rem;
            padding-left: 1rem;
            padding-bottom: 1.5rem;
            margin-right: 1rem;
            border-bottom: 2px solid #ebebe9;
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.1rem;
        margin-right: 1rem;
    }
}
