@import "../../global/colors";

.AddComment {
    margin: 2rem auto 0;

    textarea {
        width: 100%;
        border: 2px solid $color-light-grey;
        border-radius: 3px;
        padding: 0.8rem 1rem;
        resize: none;
        min-height: 3.2rem;

        &:focus {
            outline: none;
            box-shadow: inset 0 0 2px 1px $color-bluish;
        }

        &::placeholder {
            font-style: italic;
            font-weight: lighter;
            color: rgb(179, 179, 179);
        }
    }
}
