@import "./comment";
@import "./subComment";

.CommentList {
    list-style: none;
    margin-top: 2rem;
    margin-left: 0.9rem;
    margin-right: 2.1rem;
    padding: 0;
}

.NoComments {
    margin: 1rem auto;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
}
